DJANGO_SECRET_KEY=your-secret-key-here
DATABASE_URL=postgresql://postgres:password@db.xxxxx.supabase.co:5432/postgres
GEMINI_API_KEY=your-gemini-api-key
GROQ_API_KEY=your-groq-api-key
ADMIN_EMAIL=admin@kharchatrack.com
ADMIN_PASSWORD=kharcha123
DEBUG=True
